<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
	
<configuration>
	<typeAliases>
		<typeAlias type="member.bean.MemberDTO" alias="memberDTO" />
		<typeAlias type="seller.bean.SellerDTO" alias="sellerDTO" />
		<typeAlias type="seller.bean.SellerSell" alias="sellerSell"/> 
		<typeAlias type="information.bean.InformationQnADTO" alias="informationQnADTO" />
		<typeAlias type="information.bean.InformationDTO" alias="informationDTO" />
		
		  
		<!--mypage.bean  -->
		<typeAlias type="mypage.bean.MypageCouponDTO" alias="mypageCouponDTO" />  
		<typeAlias type="mypage.bean.MypagePointDTO" alias="mypagePointDTO" />
		<typeAlias type="mypage.bean.MypageReviewDTO" alias="mypageReviewDTO" />
		<typeAlias type="mypage.bean.MypageReviewListDTO" alias="mypageReviewListDTO" /> 
		<typeAlias type="mypage.bean.MypagePickItemDTO" alias="mypagePickItemDTO" />  
		<typeAlias type="mypage.bean.MypagePickSellerDTO" alias="mypagePickSellerDTO" /> 	

		
		<typeAlias type="cart.bean.CartDTO" alias="cart" />  	
		<typeAlias type="cart.bean.CartListDTO" alias="cartList" />  	
		<typeAlias type="item.bean.ItemDTO" alias="item" />  
		<typeAlias type="item.bean.ItemMainListDTO" alias="itemMainList" />  
		<typeAlias type="review.bean.ReviewDTO" alias="review" />  	
		<typeAlias type="order.bean.OrderDTO" alias="orderDTO" /> 	
		<typeAlias type="order.bean.OrderListDTO" alias="orderListDTO" />
		<typeAlias type="order.bean.OrderImageDTO" alias="orderImageDTO" />
		
	</typeAliases> 
	
</configuration>  