<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sellerHomeSQL">

	<select id="getOrderNumberListTotalA" parameterType="java.util.Map" resultType="int">
		select count(*) from purchase where order_seller_name=#{name}
	</select>
	
	<select id="getSellItemList" parameterType="java.util.Map" resultType="order.bean.OrderSellerHomeDTO">
		select * from(
		select rownum rn, ab.* from(
		select order_seller_name, order_id, order_item_main_image, order_item_id, order_user_id, order_state, order_total_price, order_date from
		(
		    select order_seller_name, order_id, order_item_main_image, order_item_id, order_user_id, order_state, order_total_price, order_date,
		    row_number() over (partition by order_id order by order_item_main_image desc) rn
		    from purchase
		)
		where order_seller_name=#{name} order by order_date desc)ab)
		where rn>=#{startNum} and rn<![CDATA[<]]>=#{endNum}
 	</select>
	
	
</mapper>