<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="sellerSQL">
	<insert id="write" parameterType="sellerDTO">   
		insert into seller values(#{seller_id}
		,#{seller_name}
		,#{seller_pwd}
		,#{seller_email}
		,#{seller_phone} 
		,#{seller_license}	
		,#{seller_address1} 
		,#{seller_address2}  
		,sysdate,nvl(#{seller_profileImage}, 'user.png'))   
	</insert> 	   
	
	<select id="getSellerPwd" parameterType="String" resultType="String">
		select seller_pwd from seller where seller_id = #{id}  
	</select> 
	 
	 
	<select id="checkID" parameterType="String" resultType="int">
		select count(*) from seller where seller_id = #{id} 
	</select> 	 
	
	<select id="login" parameterType="java.util.Map" resultType="sellerDTO">
		select * from seller where seller_id = #{id}
	</select> 	 
	
	<select id="getSellerDTO" parameterType="String" resultType="sellerDTO">
		select * from seller where seller_name = #{sellerName}
	</select>
	
	<select id="sellerSell" parameterType="String" resultType="sellerSell">
		select item_id, sum(order_item_qty) as qty, item_name as item, seller_name as seller_name, item_price, item_main_image
		from item
		join purchase on(order_item_id = item_id) 
		where seller_name = '${sellerName}'
		group by order_item_id, item_name, seller_name, item_price, item_main_image, 
		item_id
		order by 2 desc 
	</select>  
	
	<select id="sellerSellDetail" parameterType="java.util.Map" resultType="String"> 
		select nvl(sum(order_item_qty), '0')    
		from purchase     
		where order_item_id = '${item_id}' and order_date between to_char(sysdate-#{i},'yyyymmdd') and to_char(sysdate+1-#{i},'yyyymmdd')
		group by order_item_id
	</select>    
	
	<select id="getsellerPwd" parameterType="String" resultType="String">
		select seller_pwd from seller where seller_id = #{id}   
	</select>
	
	<select id="getFindPwd" parameterType="java.util.Map" resultType="sellerDTO">
		select * from seller where seller_name = #{seller_name} and seller_email = #{seller_email} and seller_id = #{seller_id}
	</select>
	
	<select id="getFindId" parameterType="java.util.Map" resultType="sellerDTO">
		select * from seller where seller_name = #{seller_name} and seller_email = #{seller_email}
	</select>
	  
	  <update id="resetPwd" parameterType="java.util.Map">
		update seller 
		set seller_pwd = #{pwd}    
		where seller_id = #{seller_id}  
	</update>
		  
</mapper>          
  
