<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="orderSQL">
	<select id="getMemberInfo" parameterType="String" resultType="memberDTO">
		select * from member where member_id=#{memberId}
	</select>
	
	<select id="getTotalMoney" parameterType="String" resultType="int">
		select sum(item_all_price) from cart where cart_id=#{memberId}
	</select>
	
	<select id = "orderCouponList" resultType = "mypageCouponDTO" parameterType="String">
		select * from coupon where coupon_user_id = #{memberId}
	</select>
	
	<select id = "orderPointAll" resultType = "int" parameterType="String">
		select nvl(sum(point_price),0) from point where point_user_id = #{memberId}
	</select>
	
	<insert id = "writePurchase" parameterType = "java.util.Map">
		insert into purchase values(#{orderId},
									#{seller_name},
									#{item_name},
									#{item_main_image},
									#{item_price},
									#{item_qty},
									'결제완료',
									#{before_price},
									#{couponId},
									#{coupon},
									#{point},
									#{total},
									#{payment},
									#{id},
									#{user_name},
									#{user_phone},
									#{email},
									sysdate,
									#{name},
									#{phoneNumber},
									#{addr1},
									#{addr2},
									#{ps},
									#{item_id}
									)
	</insert>
	
	<select id = "getItemSeller" parameterType = "int" resultType = "String">
		select seller_name from item where item_id = #{item_id}
	</select>
	
	<select id = "getItemPrice" parameterType = "int" resultType = "String">
		select item_price from item where item_id = #{item_id}
	</select>
	
	<select id = "getUseCoupon" parameterType = "String" resultType = "String">
		select distinct(order_coupon_id) from purchase where order_id = #{orderId}
	</select>
	
	<delete id = "deleteCoupon" parameterType = "java.util.Map">
		begin
		delete from coupon where coupon_user_id = #{id} and coupon_id = #{useCouponId};
		update member set member_coupon = (select count(*) from coupon where coupon_user_id = #{id}) where member_id = #{id};
		end;
	</delete>
	
	<select id = "getUsePoint" parameterType = "String" resultType = "int">
		select distinct(order_point) from purchase where order_id = #{orderId}
	</select>
	
	<insert id = "deletePoint" parameterType = "java.util.Map">
		begin
		insert into point values(#{id},sysdate,'사용완료',sysdate,#{usePoint}*-1,'사용한적립금','usePoint');
		update member set member_point = (select sum(point_price) from point where point_user_id = #{id}) where member_id = #{id};
		end;
	</insert>
	
	<select id = "getItemIdNQty" parameterType = "String"  resultType = "order.bean.OrderItemDTO">
		select order_item_qty, order_item_id from purchase where order_id = #{orderId}
	</select>
	
	<update id = "setItemIdNQty" parameterType = "java.util.Map">
		update item set item_amount = item_amount - #{item_qty} where item_id = #{item_id}
	</update>
	
	<select id = "getItemQty" parameterType = "String"  resultType = "int">
		select item_amount from item where item_id = #{item_id}
	</select>
 
 	<select id = "setItemState" parameterType = "String">
 		update item set item_order_able = 0 where item_id = #{item_id}
 	</select>

 	<update id="updatePoint" parameterType = "java.util.Map">
 		insert into point values(#{id},sysdate,'구매적립금',ADD_MONTHS(sysdate, 6),(select distinct(order_total_price) * 0.005 from purchase where order_id = #{orderId}),'구매적립금','purchase_point')
 	</update>

 	<select id="isOrder" parameterType="java.util.Map" resultType="int">
 		select count(*) from purchase where order_user_id=#{id} and order_item_id=#{item_id}
 	</select>
 	
 	<select id="orderNumberList" parameterType="java.util.Map" resultType="order.bean.OrderSellerHomeDTO">
 		select * from purchase where order_user_id=#{id} and order_id=#{seq}
 	</select>
 
</mapper>